{% extends "home.html" %}

{% block title %}
    Register page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <h1 style="color: black;">Create your Account</h1>
        <br>

        <form method="post" class="form-register" style="color: black; font-weight: bolder;">
            {{ form.hidden_tag() }}

            {{ form.username.label }}
            {{ form.username(class="form-control", placeholder="Create an username") }}
            <br>

            {{ form.email.label }}
            {{ form.email(class="form-control", placeholder="Enter your email address") }}
            <br>

            {{ form.password1.label }}
            {{ form.password1(class="form-control", placeholder="Create an password") }}
            <br>

            {{ form.password2.label }}
            {{ form.password2(class="form-control", placeholder="Confirm password") }}
            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</body>
{% endblock %}