<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Secrets{% endblock %}</title>
    {{ bootstrap.load_css() }}
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome</h1>
        <p>Are you ready to discover my secret?</p>
        <button class="btn btn-primary btn-lg">
          <a style="text-decoration: none; color: aliceblue;" href=" {{ url_for('login') }} ">Login</a>
        </button>

        <button class="btn btn-success btn-lg">
          <a style="text-decoration: none; color: aliceblue;" href=" {{ url_for('register') }} ">Register</a>
        </button
      </div>
    </div>
  </body>
</html>
